#row_title_sum {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

#row_title_sum li {
    float: left;
    display: block;
    padding-left: 16px;
    padding-top: 10px;
}

#map {
    position: relative; 
    width: 80%; 
    height: 600px;
    margin: auto;
}

#alt_hr_pace_chart {
    width: 80%;
    height: auto;
    margin: auto;
}

svg{
    display: block;
    margin: auto;
}

.bar{
    fill: steelblue;
}

.bar:hover{
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#split_table {
    position: absolute;
    top: 1000px;
}

#pace_split_chart {
    position: absolute;
    top: 1300px;
}

#hr_split_chart {
    position: absolute;
    top: 1600px;
}

#pace_dist_chart{
    position: absolute;
    top: 2100px;
}

#hr_dist_chart{
    position: absolute;
    top: 2600px;
}

path { 
    stroke: steelblue;
      stroke-width: 2;
      fill: none;
  }
  
  .axis path,
  .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }
  
  .label {
      position:absolute;
  }
  
  circle {
      cursor: pointer;
      fill: steelblue;
  }

  .startMarker {
    background-image: url('/static/green-circle-stroked-11.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  .stopMarker {
    background-image: url('/static/red-circle-stroked-11.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }