#row_title_sum {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

#row_title_sum li {
    float: left;
    display: block;
    padding-left: 16px;
    padding-top: 10px;
}

#map {
    position: relative; 
    width: 80%; 
    height: 600px;
    margin: auto;
}

.startMarker {
    background-image: url('/static/green-circle-stroked-11.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.stopMarker {
    background-image: url('/static/red-circle-stroked-11.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#alt_hr_pace_chart {
    width: 80%;
    height: auto;
    margin: auto;
}

svg {
    display: block;
    margin: auto;
}

#split_table {
    display: flex;
    width: 80%;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
tr:hover {
    background-color: #ddd;
}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ef0195;
    color: white;
}

#row_split_charts {
    display: flex;
    width: 80%;
    margin: auto;
}

#pace_split_chart {
    width: 50%;
}

#hr_split_chart {
    width: 50%;
}

#row_dist_charts {
    display: flex;
    width: 80%;
    margin: auto;
}

#pace_dist_chart {
    width: 50%;
}

#hr_dist_chart {
    width: 50%;
}


.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 12px;
    padding: 8px;
    margin-top: -20px;
    font: 10px sans-serif;
    background: #ddd;
    pointer-events: none;
}


.bar{
    fill: steelblue;
}

.bar:hover{
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

path {
    stroke: #ef0195;
    stroke-width: 2;
}

#pace_dist_chart path:hover{
    fill: brown;
}

#hr_dist_chart path:hover{
    fill: brown;
}

.line_alt {
    fill: none;
}

.line_hr {
    fill: none;
}

.line_pace {
    fill: none;
}
  
.axis path,
.axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
}
  
.label {
      position:absolute;
}


.line_pace {
    stroke: steelblue;
}

.line_hr {
    stroke: tomato;
}

.line_alt {
    stroke: gray;
}

#row_upload {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

#title {
    padding-left: 10px;
    margin-right: 40px;
    width: 50%;
    font-size: 60px;
    color: white;
    text-align: left;
    line-height: 150%;
	background-color: #ef0195;
    border-radius: 8px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#title h1 {
    margin-bottom: 10%;
    margin-top: 20%;
}

#not_title {
    padding-top: 40px;
    width: 50%;
}