#row_title_sum {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

#row_title_sum li {
    float: left;
    display: block;
    padding-left: 16px;
    padding-top: 10px;
}

#map {
    position: relative; 
    width: 80%; 
    height: 600px;
    margin: auto;
}

.startMarker {
    background-image: url('/static/green-circle-stroked-11.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

  .stopMarker {
    background-image: url('/static/red-circle-stroked-11.svg');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }

#alt_hr_pace_chart {
    width: 80%;
    height: auto;
    margin: auto;
}

svg {
    display: block;
    margin: auto;
}

#split_table {
    display: flex;
    width: 80%;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
tr:nth-child(even){
    background-color: #f2f2f2;
}
  
tr:hover {
    background-color: #ddd;
}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ef0195;
    color: white;
}

#row_split_charts {
    display: flex;
    width: 80%;
    margin: auto;
}

#pace_split_chart {
    width: 50%;
}

#hr_split_chart {
    width: 50%;
}

#row_dist_charts {
    display: flex;
    width: 80%;
    margin: auto;
}

#pace_dist_chart {
    width: 50%;
}

#hr_dist_chart {
    width: 50%;
}


.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 12px;
    padding: 8px;
    margin-top: -20px;
    font: 10px sans-serif;
    background: #ddd;
    pointer-events: none;
  }


.bar{
    fill: steelblue;
}

.bar:hover{
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

path { 
    stroke: steelblue;
      stroke-width: 2;
      fill: none;
  }
  
  .axis path,
  .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }
  
  .label {
      position:absolute;
  }
  
  circle {
      cursor: pointer;
      fill: steelblue;
  }
